body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('./images/fmg_3.jpg') center/cover no-repeat; /* Replace with the actual path to your image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    /* opacity: 0.7; Adjust the opacity value as needed */
}

#sensor-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sensor-box {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #5c7430;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.sensor-value {
    font-size: 24px;
    margin-top: 10px;
}

.sensor-description {
    color: #666;
}
